<%- include('./fragments/header.ejs') %>

<% if (!loggedUser) { %>
    <div id="login">
        <h5><%= __('main-page.login') %></h5>
        <form method="post" action="/login">
            <label for="loginEmail"><%= __('main-page.loginEmail') %></label>
            <input type="email" id="loginEmail" name="loginEmail">

            <label for="Password"><%= __('main-page.loginPassword') %></label>
            <input type="password" id="loginPassword" name="loginPassword">

            <input type="submit" value=<%= __('main-page.login') %>>
            <span id="loginErrors"><%= loginError ? loginError : '' %></span>
        </form>
    </div>
<% }else { %>
    <span><%= __('main-page.loggedIn') %> <%= loggedUser.name %> </span>
    <a href="/logout"><%= __('main-page.logOut') %></a>
<% } %>
<h2><%=__('main-page.content')%></h2>
<p>
    <%=__('main-page.text')%>
</p>

<%- include('./fragments/footer.ejs') %>