<%- include('../../fragments/header.ejs') %>
<script>
  function alertAfterDelete(){
    if(confirm("Czy napewno chcesz usunąć Zatrudnienie?"))
      alert("Usunałeś zatrudnienie!");
  }
</script>

<% if (!loggedUser) { %>
  <div id="login">
    <h5><%= __('main-page.login') %></h5>
    <form method="post" action="/login">
      <label for="loginEmail"><%= __('main-page.loginEmail') %></label>
      <input type="email" id="loginEmail" name="loginEmail">

      <label for="Password"><%= __('main-page.loginPassword') %></label>
      <input type="password" id="loginPassword" name="loginPassword">

      <input type="submit" value=<%= __('main-page.login') %>>
      <span id="loginErrors"><%= loginError ? loginError : '' %></span>
    </form>
  </div>
<% }else { %>
  <span><%= __('main-page.loggedIn') %> <%= loggedUser.Name %>  <%= loggedUser.LastName %></span>
  <a href="/logout"><%= __('main-page.logOut') %></a>
<% } %>


<h2>
  <%= __('employment.list.title') %>
</h2>
<table class="table-list">
  <thead>
    <tr>
      <th scope="col"><%= __('employment.fields.department') %></th>
      <th scope="col"><%= __('employment.fields.firstName') %></th>
      <th scope="col"><%= __('employment.fields.lastName') %></th>
      <th scope="col"><%= __('employment.fields.phoneNumber') %></th>
      <th scope="col"><%= __('employment.fields.dateOfEmployment') %></th>
      <th scope="col"><%= __('employment.fields.actions') %></th>
    </tr>
  </thead>
  <tbody>

  <% for (const empl of empls) { %>

    <tr>
      <td><%= empl.department.DeptName %></td>
      <td><%= empl.employee.EmpName %></td>
      <td><%= empl.employee.LastName %></td>
      <td><%= empl.PhoneNumber %></td>
      <td><%= empl.DataOd.toISOString().split('T')[0] %></td>
      <td>
        <ul class="list-actions">
          <li>
            <a class="button-details" href="/employments/details/<%= empl.id %>"><%= __('list.actions.details') %></a>
          </li>
          <% if(loggedUser) { %>
          <li>
            <a class="button-edit" href="/employments/edit/<%= empl.id %>"><%= __('list.actions.edit') %></a>
          </li>
          <li>
            <a class="button-delete" href="/employments/delete/<%= empl.id %>" onclick="alertAfterDelete();"><%= __('list.actions.delete') %></a>
          </li>
          <%}%>
        </ul>
      </td>
    </tr>
<% } %>
  </tbody>
</table>
<p class="button-submit"><a class="a-in-button" href="/employments/add"><%= __('employment.list.addNew') %></a></p>

<%- include('../../fragments/footer.ejs') %>
