<%- include('../../fragments/header.ejs') %>

<!--<script src="../../../public/js/validationEmpForm.js" type="application/javascript"></script>-->
<!--<script type="application/javascript" src="../../../public/js/validationCommon.js"></script>-->
<% if (!loggedUser) { %>
    <div id="login">
        <h5><%= __('main-page.login')%></h5>
        <form method="post" action="/login">
            <label for="loginEmail"> <%=__('main-page.loginEmail')%></label>
            <input type="email" id="loginEmail" name="loginEmail">

            <label for="Password"><%=__('main-page.loginPassword')%></label>
            <input type="password" id="loginPassword" name="loginPassword">

            <input type="submit" value="Zaloguj się">
            <span id="loginErrors"><%= loginError ? loginError : '' %></span>
        </form>
    </div>
<% }else { %>
    <span><%=__('main-page.loggedIn')%> <%= loggedUser.name %> </span>
    <a href="/logout"><%=__('main-page.loginOut')%></a>
<% } %>

<h2>
    <%= pageTitle %>
</h2>

<form class="form" method="POST" action="<%= formAction %>" onsubmit="validateForm();">

    <label for="Name">Imię:<span class="symbol-required">*</span></label>
    <input type="text" name="Name" id="Name"
           placeholder="2-60 znaków"
           value="<%= emp.Name %>"
            <%= (formMode === 'showDetails') ? 'disabled' : '' %>
           class="<%= validationErrors.find(e => e.path.includes('Name')) ? 'error-input' : '' %>"
    />
    <span id="errorFirstName" class="errors-text">
        <% if (validationErrors.find(e => e.path.includes('Name'))){ %>
            <%= validationErrors.find(e => e.path.includes('Name')).message %>
        <% } %>
    </span>

    <label for="LastName">Nazwisko: <span class="symbol-required">*</span></label>
    <input type="text" name="LastName" id="LastName" placeholder="2-60 znaków" value="<%= emp.LastName %>"
            <%= (formMode === 'showDetails') ? 'disabled' : '' %>
           class="<%= validationErrors.find(e => e.path.includes('LastName')) ? 'error-input' : '' %>"/>
    <span id="errorLastName" class="errors-text">
        <% if (validationErrors.find(e => e.path.includes('LastName'))){ %>
            <%= validationErrors.find(e => e.path.includes('LastName')).message %>
        <% } %>
    </span>

    <label for="Email">E-mail: <span class="symbol-required">*</span></label>
    <input input="Email" name="Email" id="Email" placeholder="np.: nazwa@domena.pl" value="<%= emp.Email %>"
            <%= (formMode === 'showDetails') ? 'disabled' : '' %>
           class="<%= validationErrors.find(e => e.path.includes('Email')) ? 'error-input' : '' %>"
    />
    <span id="errorEmail" class="errors-text">
        <% if (validationErrors.find(e => e.path.includes('Email'))){ %>
            <%= validationErrors.find(e => e.path.includes('Email')).message %>
        <% } %>
    </span>
    <label for="Password">Password: <span class="symbol-required">*</span></label>
    <input name="Password" id="Password" value="<%= emp.Password %>" type="password"
            <%= (formMode === 'showDetails') ? 'disabled' : '' %>
           class="<%= validationErrors.find(e => e.path.includes('Password')) ? 'error-input' : '' %>"
    />
    <span id="errorPassword" class="errors-text">
        <% if (validationErrors.find(e => e.path.includes('Password'))){ %>
            <%= validationErrors.find(e => e.path.includes('Password')).message %>
        <% } %>
    </span>

    <% if (formMode !== 'showDetails') { %>
        <input type="submit" class="button" value="<%= btnLabel %>"/>
        <a class="button" href="/employees">Anuluj</a>

    <% } %>
</form>
<% if (formMode === 'showDetails') { %>
    <a class="button" href="/employees/edit/<%= emp.empId %>">Edytuj</a>
<% } %>


<% if (formMode === 'showDetails' || formMode === 'edit') { %>
    <h2>
        <%= pageTitle %>
    </h2>

    <table class="table-list">
        <thead>
        <tr>
            <th>Departament</th>
            <th>Data Zatrudnienia</th>
            <th>Numer Telefonu</th>
        </tr>
        </thead>
        <tbody>
        <% for(let e of emp.employments) { %>
            <tr>
                <td><a href="/departments/details/<%= e.department._id %>"><%= e.department.DeptName %></a></td>
                <td><%= e.DataOd.toISOString().split('T')[0] %></td>
                <td><%= e.PhoneNumber %></td>
            </tr>
        <% } %>
        </tbody>
    </table>
    <% if (formMode === 'showDetails') { %>
        <a class="button" href="/employees">Powrót</a>

    <% } %>
<% } %>


<%- include('../../fragments/footer.ejs') %>
