<%- include('../../fragments/header.ejs') %>

<script>
  function alertAfterDelete(){
    if(confirm("Czy napewno chcesz usunąć Zatrudnienie?"))
      alert("Usunałeś pracownika!");
  }
</script>
<h2>
  <%= pageTitle %>
</h2>

<table class="table-list">
  <thead>
  <tr>
    <th scope="col">Imię</th>
    <th scope="col">Nazwisko</th>
    <th scope="col">E-mail</th>
    <th scope="col">Akcje</th>
  </tr>
  </thead>
  <tbody>
  <% for (let emp of emps) { %>
  <tr>
    <td><%= emp.Name %></td>
    <td><%= emp.LastName %></td>
    <td><%= emp.Email %></td>
    <td>
      <ul class="list-actions">
        <li>
          <a class="button-details" href="/employees/details/<%=emp.Employee_id%>">Szczegóły</a>
        </li>
        <li>
          <a class="button-edit" href="/employees/edit/<%=emp.Employee_id %>">Edytuj</a>
        </li>
        <li>
          <a class="button-delete" href="/employees/delete/<%=emp.Employee_id %>" onclick="alertAfterDelete();" >Usuń</a>
        </li>
      </ul>
    </td>
  </tr>
  <% } %>
  </tbody>
</table>
<p class="button-submit"><a class="a-in-button" href="/employees/add">Dodaj nowego pracownika</a></p>


<%- include('../../fragments/footer.ejs') %>
