<%- include('../../fragments/header.ejs') %>
<script>
  function alertAfterDelete(){
    if(confirm("Czy napewno chcesz usunąć Departament?"))
      alert("Usunałeś departament!");
  }
</script>
  <h2>
    <%= pageTitle %>
  </h2>
  <table class="table-list">
    <thead>
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Data stworzenia</th>
        <th scope="col">Akcje</th>
      </tr>
    </thead>
    <tbody>
    <% for (const dept of deps) { %>
      <tr>
        <td><%= dept.Name %></td>
        <td><%= dept.DateOfStert.toISOString().split('T')[0] %></td>
        <td>
          <ul class="list-actions">
            <li>
              <a class="button-details" href="/departments/details/<%= dept.Dept_id %>">Szczegóły</a>
            </li>
            <li>
              <a class="button-edit" href="/departments/edit/<%= dept.Dept_id %>">Edytuj</a>
            </li>
            <li>
              <a class="button-delete" href="/departments/delete/<%= dept.Dept_id %>" onclick="alertAfterDelete();">Usuń</a>
            </li>
          </ul>
        </td>
      </tr>
    <% } %>
    </tbody>
  </table>
  <p class="button-submit"><a class="a-in-button" href="/departments/add">Dodaj nowy departament</a></p>

<%- include('../../fragments/footer.ejs') %>
